.s{
    height: 150vh;
    font-family: "bord";
}

.oval{
    height: 800px;
    width: 50%;
    left: 28%;
    margin-top: -200px;
    position: absolute;
    color: black;
    transform: rotate(5deg);
}

.mani{
    position: absolute;
    margin-top: 20%;
    left: 73%;
    font-size: 17vw;
    color: black;
    transform: translate(-50%, -50%);
    z-index: 1;
}

.text-way{
    font-family: "nanu";
    text-align: left;
}

@font-face {
  font-family: "Myfont";
  src:
    local("assets/Myfont-Regular.otf"),
}

.about{

    font-family: Myfont;
    position: absolute;
    font-size: 3vw;
    font-weight: bold;
    margin-top: 30%;
    left: 27%;
    transform: translate(-50%, 50%);
}

.about-2{
    font-family: Myfont;
    position: absolute;
    font-size: 3vw;
    margin-top: 60%;
    left: 26%;
    transform: translate(-50%, 50%);
}

.about-3{
    font-family: Myfont;
    position: absolute;
    font-size: 3vw;
    margin-top: 75%;
    left: 27%;
    transform: translate(-50%, 50%);
}

.about-4{
    font-family: Myfont;
    position: absolute;
    font-size: 3vw;
    margin-top: 98%;
    left: 32%;
    transform: translate(-50%, 50%);
}

.about-5{
    font-family: Myfont;
    position: absolute;
    font-size: 3vw;
    margin-top: 105%;
    left: 35.5%;
    transform: translate(-50%, 50%);
}

span{

    text-decoration: solid underline;
}
